body {
    background-color: #666666;
    color: #CCCCCC;
}

.quote-text {
	padding-top: 200px;
	padding-left: 40px;
	padding-right: 40px;
}

.quote-add {
    position: fixed;
    bottom: 0px;
    color: #CCCCCC;
}

.quote-form {
    padding-top: 200px;
}

.author-quote {
	font-size: large;
	padding-left: 40px;
}

.author-name {
	font-size: xx-large;
}

a {
	color: #CCCCCC;	
}


